[2022-07-06 10:02] schwesig opened #2 "Exposed Communities using the Operate First Community Cloud or Governance"
acceptance criteria
- [ ] https://github.com/open-services-group/scrum/issues/12
  - [x]   [List](https://docs.google.com/spreadsheets/d/1QR2hgEGkfLiUxxg1NP0HX3DRV09h3V4_6KuiqR2mQOw/edit?usp=sharing)
    - [x] smaug
    - [x] rick (not available 2022-08-18)
    - [x] morty
    - [x] balrog
    - [x] infra
  - [x]   DS, ACM, OSC, ...
  - [ ]   inspect workloads on clusters (own or steered workloads

[2022-07-06 10:03] schwesig commented on #2
/assign @schwesig

[2022-07-06 10:32] schwesig commented on #2
ideas:
 - ephemeral workloads (funnel begin? exit? recurring?)

[2022-07-06 14:50] schwesig commented on #2
https://docs.google.com/spreadsheets/d/1QR2hgEGkfLiUxxg1NP0HX3DRV09h3V4_6KuiqR2mQOw/edit?usp=sharing

[2022-07-06 15:23] durandom opened #3 "Scale 19x Workshop Support"
Acceptance criteria:

- [x] Identify resources, requirements
- [x] Identify environment to use  (with a preference for use of existing services)
- [x] Prepare environment for use by workshop  (with a preference for use of existing services)
- [x] Starting documentation on recreating this workshop

[2022-07-06 15:42] HumairAK opened #4 "Create a process for SRE On-Call and support handling for Operate First Cloud"
Goal:

Spread the work of being on-call across the SRE team.

Acceptance Criteria:

- [ ] Documentation on a set of processes for the Operate First Community Cloud SRE team
- [ ] The person on-call should be responsible for tackling most of the SRE work, and support queries, during their period of on call.
- [ ] On-Call role also involves resolving existing issues
- [ ] On-Call role also involves

[2022-07-06 15:48] durandom commented on #4
@tumido @mimotej @SamoKopecky @harshad16 @Gregory-Pereira @schwesig the plan is to expand the team doing on-call SRE, so please work with @HumairAK on this process since it'll affect y'all 😸

[2022-07-08 09:39] tumido opened #5 "Assessment document for sigstore discovery"
Create an assessment document listing all sigstore pointers on how to deploy sigstore on premise (pressuming Operate First cloud)

[2022-07-08 09:42] durandom opened #6 "Add schema validation for Operate First apps repository"
Goal:

Have working schema validation in OPF apps repository.

Acceptance criteria:

- [x] CRDs schemas are stored in separate repository https://github.com/operate-first/common/pull/40
- [x] Kubeval validation script is created https://github.com/operate-first/common/pull/40 https://github.com/operate-first/toolbox/pull/55
- [x] #20
    -  https://github.com/operate-first/apps/pull/1318
- [x] #19

[2022-07-08 09:56] durandom opened #7 "Install available plugins to backstage"
https://github.com/operate-first/service-catalog/issues?q=is%3Aissue+is%3Aopen+Plugin

- [x] https://github.com/operate-first/service-catalog/issues/20
- [x] https://github.com/operate-first/service-catalog/issues/19
- [x] https://github.com/operate-first/service-catalog/issues/18
- [x] https://github.com/operate-first/service-catalog/issues/17
- [x] https://github.com/operate-first/service-catalo

[2022-07-08 10:06] tumido commented on #7
Wrap this up by showcasing it via https://github.com/operate-first/service-catalog/issues/25

[2022-07-08 10:07] tumido opened #8 "Make Peribolos (really) production ready"
Reslove following:

- [x] https://github.com/operate-first/peribolos-as-a-service/issues/164
- [ ] https://github.com/operate-first/peribolos-as-a-service/issues/60
- [x] https://github.com/operate-first/peribolos-as-a-service/issues/165
- [x] https://github.com/operate-first/peribolos-as-a-service/issues/166
- [x] https://github.com/operate-first/peribolos-as-a-service/issues/167
- [x] https://gi

[2022-07-14 12:06] tumido opened #9 "Bootstrap robozome"

[2022-07-17 11:11] schwesig opened #10 "[schwesig] label all issues in op1st community"

[2022-07-17 11:12] schwesig commented on #10
/cc @schwesig

[2022-07-17 11:14] schwesig commented on #10
/sig community
/kind cleanup
/kind documentation
/kind bug

[2022-07-17 11:14] sesheta commented on #10
@schwesig: The label(s) `sig/community` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/10#issuecomment-1186485702):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions re

[2022-07-17 11:15] schwesig commented on #10
/assign @schwesig

[2022-07-17 11:37] schwesig commented on #9
/sig devops
/sig operations
/kind experience
/kind feature
/kind onboarding

[2022-07-17 11:37] sesheta commented on #9
@schwesig: The label(s) `sig/devops, sig/operations, kind/experience, kind/onboarding` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/9#issuecomment-1186491430):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests

[2022-07-17 11:38] schwesig commented on #8
/sig devops
/sig operations
/kind experience
/kind feature
/kind onboarding

[2022-07-17 11:38] sesheta commented on #8
@schwesig: The label(s) `sig/devops, sig/operations, kind/experience, kind/onboarding` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/8#issuecomment-1186491583):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests

[2022-07-17 11:39] schwesig commented on #7
/sig devops
/sig operations
/kind experience
/kind feature
/kind onboarding

[2022-07-17 11:39] sesheta commented on #7
@schwesig: The label(s) `sig/devops, sig/operations, kind/experience, kind/onboarding` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/7#issuecomment-1186491845):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests

[2022-07-17 11:41] schwesig commented on #6
/sig devops
/sig operations
/kind feature
/kind onboarding
/kind documentation

[2022-07-17 11:41] sesheta commented on #6
@schwesig: The label(s) `sig/devops, sig/operations, kind/onboarding` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/6#issuecomment-1186492194):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you hav

[2022-07-17 11:42] schwesig commented on #5
/sig devops
/sig operations
/kind onboarding
/kind documentation
/area security

[2022-07-17 11:42] sesheta commented on #5
@schwesig: The label(s) `sig/devops, sig/operations, kind/onboarding, area/security` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/5#issuecomment-1186492517):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.m

[2022-07-17 11:42] schwesig commented on #5
/kind handbook

[2022-07-17 11:42] sesheta commented on #5
@schwesig: The label(s) `kind/handbook` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/5#issuecomment-1186492684):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions rel

[2022-07-17 11:44] schwesig commented on #4
/sig devops
/sig operations
/kind experience
/kind feature
/kind onboarding
/kind documentation
/area security
/kind handbook
/kind marketing

[2022-07-17 11:44] sesheta commented on #4
@schwesig: The label(s) `sig/devops, sig/operations, kind/experience, kind/onboarding, area/security, kind/handbook, kind/marketing` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/4#issuecomment-1186493047):

Instructions for interacting with me using PR comments are available [here](https://git.k8s

[2022-07-17 11:45] schwesig commented on #4
/kind user-story

[2022-07-17 11:45] sesheta commented on #4
@schwesig: The label(s) `kind/user-story` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/4#issuecomment-1186493282):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions r

[2022-07-17 11:46] schwesig commented on #3
/kind experience
/kind onboarding
/kind documentation
/kind handbook
/kind marketing
/kind user-story

[2022-07-17 11:46] sesheta commented on #3
@schwesig: The label(s) `kind/experience, kind/onboarding, kind/handbook, kind/marketing, kind/user-story` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/3#issuecomment-1186493536):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors

[2022-07-17 11:48] schwesig commented on #2
/area monitoring
/area contributor
/area user
/area hardware
/area networking
/area storage
/kind documentation
/kind marketing
/kind metrics
/kind website
/kind marketing

[2022-07-17 11:48] sesheta commented on #2
@schwesig: The label(s) `area/monitoring, area/contributor, area/user, area/hardware, area/networking, area/storage, kind/marketing, kind/metrics, kind/website, kind/marketing` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/2#issuecomment-1186493967):

Instructions for interacting with me using PR c

[2022-07-18 05:56] schwesig opened #11 "Prototype 4 cards (Data Science, SIG Operations, SIG Community, OS Climate)"
Part of Epic https://github.com/open-services-group/scrum/issues/25

the card consists of
  - [x]   logo, symbol, screenshot
  - [x]   link to landing page (website, subpage on op1st cloud, jupyterbook, readme)
  - [x]   workload/governance label (to identify infrastructure, user community, DS)

old: Part of Epic https://github.com/open-services-group/scrum/issues/2

check here: https://github.com

[2022-07-18 05:58] schwesig commented on #11
/assign @schwesig
/kind website
/kind feature
/kind marketing
/area monitoring
/kind metrics

[2022-07-18 05:58] sesheta commented on #11
@schwesig: The label(s) `kind/website, kind/marketing, area/monitoring, kind/metrics` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/11#issuecomment-1186797134):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests

[2022-07-18 06:01] schwesig opened #12 "[E#25]List of communities using the Operate First Community Cloud or Governance"
Part of Epic https://github.com/open-services-group/scrum/issues/2

- [x] list of communities using the Operate First Community Cloud or Governance
  - [x]   [List](https://docs.google.com/spreadsheets/d/1QR2hgEGkfLiUxxg1NP0HX3DRV09h3V4_6KuiqR2mQOw/edit?usp=sharing)
    - [x] smaug
    - [x] rick (not available 2022-08-18)
    - [x] morty
    - [x] balrog
    - [x] infra
  - [x]   DS, ACM, OSC, ..

[2022-07-18 06:03] schwesig commented on #12
/area monitoring
/area contributor
/area user
/area hardware
/area networking
/area storage
/kind documentation
/kind marketing
/kind metrics
/kind website
/kind marketing

[2022-07-18 06:03] sesheta commented on #12
@schwesig: The label(s) `area/monitoring, area/contributor, area/user, area/hardware, area/networking, area/storage, kind/marketing, kind/metrics, kind/website, kind/marketing` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/12#issuecomment-1186799670):

Instructions for interacting with me using PR

[2022-07-18 06:03] schwesig commented on #12
/assign @schwesig

[2022-07-18 06:05] schwesig commented on #12
https://docs.google.com/spreadsheets/d/1QR2hgEGkfLiUxxg1NP0HX3DRV09h3V4_6KuiqR2mQOw/edit?usp=sharing

[2022-07-19 10:09] goern opened #13 "[Epic] Develop and Deploy CNBi feature to OS-Climate on Operate First"
Deploy the CNBi feature in such a way that it could be used by the OS-Climate project on their Operate First environment’s ODH deployment,
so that it can verify a build image is validated to be an ODH Jupyter Notebook Image,
and so that it can build new images by providing a Jupyter Notebook file.

**High-level Goals**
* document feature set and MVP of CNBi
* set up infrastructure for development

[2022-07-19 10:24] tumido opened #14 "Backstage hardening"
- [x] https://github.com/operate-first/service-catalog/issues/53
- [x] https://github.com/operate-first/service-catalog/issues/51
- [x] https://github.com/operate-first/service-catalog/issues/48

[2022-07-19 13:51] goern opened #15 "document user experience as user stories"
As an ODH Admin,
I want to commit a notebook file to a repository,
and I want to open an issue assigned to a bot,
so that a custom notebook image is delivered to my Open Data Hub deployment,
and so that it is usable via Jupyter Notebook Spawner.

[2022-07-19 13:52] Shreyanand commented on #13
OS-Climate project is a collection of various [repositories](https://github.com/os-climate), each solving a different problem. Do we want to start with the [repository](https://github.com/os-climate/aicoe-osc-demo) the data science team has been working on to test these tools?

[2022-07-19 13:58] goern commented on #15
This will be a `kind/feature` to be refined by a SIG, it shall be a less than 13PT user story tbd in one sprint. quality of the issue is defined by https://github.com/thoth-station/core/blob/master/docs/TermsAndConditionsForTheScrum.md#estimates

[2022-07-19 15:13] schwesig commented on #10
/close

[2022-07-19 15:32] schwesig commented on #15
/assign @Gkrumbach07 please deep dive and define better (user story, story points guess, what is needed)

[2022-07-19 15:33] schwesig commented on #15
/assign @Gkrumbach07

[2022-07-19 15:50] schwesig commented on #11
ideas:

ephemeral workloads (funnel begin? exit? recurring?)

[2022-07-19 15:51] schwesig commented on #11
https://github.com/operate-first/operate-first.github.io/pull/88
--> https://github.com/operate-first/operate-first.github.io/pull/180

[2022-07-19 15:53] schwesig commented on #2
/close
lives now in 2 issues that can be worked on in a sprint
https://github.com/open-services-group/scrum/issues/11
https://github.com/open-services-group/scrum/issues/12

[2022-07-19 15:53] #2 closed

[2022-07-19 15:53] sesheta commented on #2
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/2#issuecomment-1189226758):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-07-20 14:37] tumido opened #18 "Operate first community cloud topology"
As a service catalog user I want to see the topology of all services and applications available in operate first community cloud including consumed resources like clusters etc.

A service catalog maintainer should know the rules of proper entity mapping used across Operate First community cloud.

- [x] https://github.com/operate-first/service-catalog/issues/60
- [x] https://github.com/operate-firs

[2022-07-21 10:42] tumido opened #19 "Schemas are updated in repository using automation"
Part of #6

Schemas should be pulled from all clusters on schedule, periodically via CI/CD.

[2022-07-21 10:43] tumido opened #20 "Schema is validated via CI in operate-first/apps repo"
Prow should validate each PR against schema store.

[2022-07-21 13:11] goern opened #21 "set up CD of BYON feature in os-climate"
As a BYON/CNBi developer,
I want to merge a Pull Request against the ODH repo (or fork),
so that the HEAD of main branch is deployed to the OS-Climate environment - or ODH DataScience cluster

## Acceptance Criteria

- [x] #32
- [x] #37

/sig devsecops
/kind feature
/triage needs-information

https://issues.redhat.com/browse/RHODS-2211

[2022-07-21 13:12] durandom opened #22 "Onboard ODH DataScience cluster to Operate First"
The cluster will be added to the operate first processes and infrastructure. The DS team will keep cluster-admin privileges.
The goal is to understand a gap in developing ODH components in a "managed" cluster.

@HumairAK please complete the acceptance criteria list

- [ ] add cluster to RHACM
- [ ] add Operate First SSO to cluster
- [ ] deploy os-c JupyterHub
- [ ] add monitoring

the current clus

[2022-07-21 13:15] durandom commented on #22
![Image](https://user-images.githubusercontent.com/161888/180221855-a5d1f07e-e56f-4b1f-b23a-e1c0b0a6f0dc.png)

cc @MichaelClifford @erikerlandson

[2022-07-21 13:24] durandom opened #23 "POV doc on SSSC and DevStack"
As a ET member, I want to publish a point of view document, so that redhat-externals could read up on what thoth brings in to secure the software supply chain.

# Acceptance Criteria

- [ ] draft of POV document is in review with OCTO

create a small POV doc on what the key features of Thoth are and what existing tooling is available?

[2022-07-21 14:56] MichaelClifford commented on #22
Thanks @durandom !

Do we need to "deploy os-c JupyterHub"? This cluster all ready has an ODH instance running with JupyterHub

[2022-07-26 01:46] HumairAK commented on #4
Please have a look at the proposed adr here: https://github.com/operate-first/blueprint/pull/108
And let me know if I have missed anything.

fyi @schwesig

[2022-07-26 08:26] schwesig opened #24 "devconf.us 2022 Boston"
- [ ] Presentation
- [ ] Idea
- [ ] Community Usecases
  - [ ] jaeger
  - [ ] openshift
  - [ ] argocd
  - [ ]  ...
- [ ]  let's get started, free resource
  - [ ] peribolos as a Service Tom - Service // bot
  - [ ] Jaeger Sally - Komplexe Demo
  - [ ] ODH - Data Science
 - wie deployed
 - einfach benutzen
Thoth
- [x] https://github.com/open-services-group/community/issues/236
- [ ] Website Commun

[2022-07-26 08:28] schwesig commented on #24
/assign @schwesig

[2022-07-26 08:29] schwesig commented on #24
/triage accepted

[2022-07-26 08:31] schwesig commented on #24
/kind website
/kind documentation
/users documentation
/sig community
/priority important-soon
/area user
/area monitoring
/kind metrics
/kind news

[2022-07-26 08:31] sesheta commented on #24
@schwesig: The label(s) `kind/website, sig/community, area/user, area/monitoring, kind/metrics, kind/news` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/24#issuecomment-1195174549):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributor

[2022-07-26 12:31] durandom commented on #18
@tumido what does 'cloud survey' mean in this context? The issues listed don't look connected, other than chores and bugs

[2022-07-26 13:59] schwesig opened #25 "Community activities & metrics"
As a community member I want to know, what projects, users, and contributors are using the community cloud and how they interact with the platform and participate in community activities.

## Community Activities ##
- [x] https://github.com/open-services-group/scrum/issues/12
- [x] https://github.com/open-services-group/scrum/issues/11

## Metrics ##
### Website ###
- [x] track/ count visitors/ un

[2022-07-26 14:12] schwesig commented on #25
/assign @schwesig

/area monitoring
/kind documentation
/kind feature
/kind marketing
/kind metrics
/kind onboarding
/kind website
/triage accepted

[2022-07-26 14:12] sesheta commented on #25
@schwesig: The label(s) `area/monitoring, kind/marketing, kind/metrics, kind/onboarding, kind/website` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/25#issuecomment-1195538760):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/gu

[2022-07-26 14:40] schwesig opened #26 "Website, PR Buddy & Onboarding Personas"

[2022-07-26 14:42] schwesig commented on #26
/assign @schwesig

/area contributor
/area user
/kind documentation
/kind experience
/kind feature
/kind governance
/kind handbook
/kind user-story
/sig community
/user experience

/triage accepted

[2022-07-26 14:42] sesheta commented on #26
@schwesig: The label(s) `area/contributor, area/user, kind/experience, kind/governance, kind/handbook, kind/user-story, sig/community` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/26#issuecomment-1195575003):

Instructions for interacting with me using PR comments are available [here](https://git.

[2022-07-26 14:53] durandom opened #27 "spike into GitHub bot usage to create notebook images"
As a GitHub bot,
I want to react on a github issue,
so I want to build and deliver a CNBi to a repo on the ODH internal registry,
so that it could be imported to ODH,
and so that it is usable via Jupyter Notebook Spawner.

# Acceptance Criteria

- [ ] pipelines can be triggered via API or curl call, parameter: git repo url
- [ ] pipelines create container image and publish to registry
- [ ] pipeli

[2022-07-26 14:58] goern commented on #27
/assign @codificat
/kind feature
/kind documentation
/priority critical-urgent
/triage needs-information

[2022-07-26 18:51] Gkrumbach07 commented on #15
[working doc](https://docs.google.com/document/d/1yY91on5YGuIroJSsKCFi5FebWoba71ermgvmzl9rilk/edit#) -> will be converted into issues with an epic

[2022-07-28 08:45] goern opened #28 "Provide Maintenance related scoring as a informational comment to Pull Requests"
As a Python Developer,
I would like to have concise information about the quality of my software stack and all its transitive dependencies,
so that I get some absolute metrics such as:

"95% of my dependencies are maintained with a dependency update tool (i.e. dependabot, etc)"
"45% of my dependencies have 3 or more maintainers"
...

/kind feature
/priority critical-urgent

User Story Points?

##

[2022-07-28 15:24] #20 closed

[2022-07-28 18:09] #19 closed

[2022-07-29 10:01] schwesig commented on #12
1:1 @durandom @schwesig
during the call, this issue was approved and decided to set to close
@durandom was stakeholder of this issue

[2022-07-29 10:01] #12 closed

[2022-07-29 10:19] schwesig opened #29 "collect basic metrics via graphql"

[2022-07-29 10:23] schwesig commented on #29
- [ ] unique contributors
- [ ] issues (close and open)
- [ ] PRs (close and open)
- [ ] forks
- [ ] stars
- [ ] comments per issue as average/ sum of all per project
- [ ] emoji reactions

[2022-07-29 10:24] schwesig commented on #29
/triage accpeted
/kind metrics
/area monitoring

[2022-07-29 10:24] sesheta commented on #29
@schwesig: The label(s) `triage/accpeted, kind/metrics, area/monitoring` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/29#issuecomment-1199116648):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you

[2022-07-29 10:35] durandom opened #30 "clean up operate-first.cloud"
As a visitor to operate-first.cloud I want to find all existing information easily and visually consistently.

- [x] check existing links and content for consistency
- [x] all pages are using the same theme / styling

[2022-07-29 10:47] schwesig commented on #30
/assign @schwesig

/kind website
/kind experience

[2022-07-29 10:47] sesheta commented on #30
@schwesig: The label(s) `kind/website, kind/experience` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/30#issuecomment-1199135992):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions o

[2022-07-29 15:10] schwesig commented on #29
/kind feature

[2022-07-29 15:10] sesheta commented on #29
@schwesig: The label(s) `kind/website, kind/marketing, area/monitoring, kind/metrics` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/29#issuecomment-1199494831):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests

[2022-07-29 15:12] schwesig commented on #30
/triage accepted

[2022-07-29 15:15] schwesig commented on #8
/triage accepted

[2022-07-29 15:15] schwesig commented on #11
/triage accepted

[2022-07-29 15:25] schwesig commented on #6
/triage accepted

[2022-07-29 15:26] schwesig commented on #28
/triage accepted

[2022-07-29 15:26] schwesig commented on #7
/triage accepted

[2022-07-29 15:26] schwesig commented on #9
/triage accepted

[2022-07-29 15:26] schwesig commented on #18
/triage accepted

[2022-07-29 15:31] schwesig commented on #3
/triage accepted

[2022-07-29 15:31] schwesig commented on #5
/triage accepted

[2022-07-29 15:31] schwesig commented on #4
/triage accepted

[2022-07-29 15:32] schwesig commented on #12
/triage accepted

[2022-07-29 15:33] schwesig commented on #20
/triage accepted

[2022-07-29 15:33] schwesig commented on #19
/triage accepted

[2022-07-29 15:35] schwesig commented on #2
/triage accepted

[2022-07-29 15:35] schwesig commented on #10
/triage accepted

[2022-08-01 00:55] HumairAK commented on #3
This can me marked completed ( I don't have permisisons to check the boxes :smile: )

[2022-08-02 06:46] #4 closed

[2022-08-02 07:54] mayaCostantini commented on #28
/sig stack-guidance
/priority important-soon

[2022-08-02 07:54] sesheta commented on #28
@mayaCostantini: The label(s) `sig/stack-guidance` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/28#issuecomment-1202144903):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or sug

[2022-08-02 07:55] mayaCostantini commented on #28
/remove priority-important-soon
/priority critical-urgent

[2022-08-02 07:55] mayaCostantini commented on #28
/kind feature

[2022-08-02 09:03] mayaCostantini commented on #28
@goern what about providing Scorecard metrics in the GitHub Summary section where other information about the action workflow is already present?

[2022-08-02 10:08] durandom opened #31 "Create OCP cluster at IONOS"
Operate First has access to resources at [IONOS](https://github.com/operate-first/ionos-openshift). We want to get a first cluster installed on UPI

- [ ] POC cluster installation via `openshift-install`
- [ ] evaluate automation methods
   - [ ] https://github.com/operate-first/hetzner-baremetal-openshift
   - [ ] current MOC automation

[2022-08-02 14:18] goern commented on #28
I'm open for all ;)

what is the simplest and easiest to understand way to provide the info to the PR creator? Shall we have it configurable on one of the next iterations?

MVP: a comment
v1.0: configurable via .thoth.yaml?
v2.0: as a badge image service taking a commit sha as a parameter?

wdyt?

[2022-08-02 14:32] schwesig commented on #12
+1

[2022-08-02 14:39] mayaCostantini commented on #28
A comment would work for any integration providing an advise via GitHub. However, the GitHub Action does not use a `.thoth.yaml` for configuration, all parameters are provided through the workflow YAML file in the `.github` folder. As for the last option, this could be implemented via another GitHub Action workflow and seems like a good option to display a global software stack score.

[2022-08-02 14:40] schwesig commented on #22
/kind onboarding
/area monitoring

[2022-08-02 14:40] sesheta commented on #22
@schwesig: The label(s) `kind/onboarding, area/monitoring` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/22#issuecomment-1202719590):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have question

[2022-08-02 15:00] schwesig commented on #20
/kind feature

[2022-08-02 15:00] schwesig commented on #19
/kind feature

[2022-08-02 15:15] mimotej commented on #20
Example of PR with kubeval validation: https://github.com/operate-first/apps/pull/2209

[2022-08-02 15:17] mimotej commented on #19
Actual GH workflow: https://github.com/operate-first/schema-store/actions/runs/2779639158
Example of PR: https://github.com/operate-first/schema-store/pull/9

[2022-08-02 15:20] schwesig commented on #4
it's all checked (permissions are no set yet)
--> done/approved

[2022-08-02 15:23] schwesig commented on #12
/close

[2022-08-02 15:26] schwesig commented on #3
- [x] link to the document

[2022-08-02 15:28] HumairAK commented on #3
https://github.com/operate-first/apps/tree/master/workshops/aiops-tools
workshop docs by the workshop team: https://ocp-ci-analysis.catalog.meteor.zone/docs/workshop/prerequisites.html

[2022-08-02 15:50] schwesig commented on #6
/close

[2022-08-02 15:50] #6 closed

[2022-08-02 15:50] sesheta commented on #6
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/6#issuecomment-1202877135):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-08-02 17:29] Gkrumbach07 commented on #15
Issues have been created @schwesig @goern

they are referenced to this issue

[2022-08-04 13:32] HumairAK commented on #22
Feedback:

- Onboard Cluster docs non existed
- ACM access point should be linked service (Service catalog?)
- Docs should give alternative suggestion to auth if it cannot be dependent on infra identitatem
-

[2022-08-05 08:31] goern opened #32 "documentation of the pipeline, source repos, target clusters, build from branch?"
As a BYON/CNBi developer,
I want to read up how and where the components I work on get deployed,
so that I can build and deploy development branches

[2022-08-05 08:51] goern opened #33 "create ADR on git repository usage"
As a Developer of the CNBi feature,
I want to take an architectural decision if and how git is used in the feature,
so that I can propose that decision to my stakeholders
and so that I can inform my fellow developers of what we do ;)

# Acceptance Criteria

- [ ] ADR is accepted by ODH community
- [ ] rough cut implementation plan

[2022-08-05 08:59] goern commented on #33
/kind feature
/kind documentation
/priority critical-urgent

[2022-08-05 11:18] schwesig commented on #32
/kind feature
/kind documentation

[2022-08-05 11:19] schwesig commented on #21
/sig devsecops
/kind feature
/triage needs-information

[2022-08-05 11:19] sesheta commented on #21
@schwesig: The label(s) `sig/devsecops` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/21#issuecomment-1206335686):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions re

[2022-08-05 11:47] codificat commented on #33
/assign

[2022-08-08 09:13] goern opened #34 "Define interface of observability capability between service provider and consumer"
As an App Team (Devs, service owner),
I want to use a standard interface (or contract) with my platform provider,
so that I benefit from a set of standard observability capabilities,
and so that I get access to a set of application-specific observability capabilities,

As an App Team,
I want to adhere to the platform standards for observability,
so that standard metrics and application metrics of

[2022-08-09 11:13] schwesig commented on #34
/assign @schwesig

[2022-08-09 11:13] schwesig commented on #34
/assign @schwesig

[2022-08-09 16:05] schwesig commented on #34
group call: @goern @schwesig @harshad16 @VannTen

- NOT some kind of dashboard, but clear interfaces
- NOT numbers
- I appdev create numbers/ logs/ basic metrics (access, responsiveness, performance, ...) by just using a platform
- I appdev create metrics on the app side, like level metrics (users, wrong password, ...)

it is about:

- what data do we already collect
- and how
- what is missing, a

[2022-08-09 16:11] schwesig commented on #34
maybe include/ ask @HumairAK @durandom about the On Call process/ needs

not an API, but interface:
exchanging data, files, yaml in both directions maybe including repos/ folders etc
triggered by a Pull Request

How and What

[2022-08-09 16:14] schwesig commented on #34
Define the personas (who would/ could play this role in real life) and ask them about needs.
AppDev
OnCall
Platform

[2022-08-10 08:59] VannTen commented on #34
So, a couple (or maybe a little more ^) of thoughts on the subject.

## Purposes

The interface/standard should allow the described personas to be able to
self-service in the good case. (meaning, **if everything works**, I
don't need to involve other people which might not be available).

## Form

To work with automation, I would make the interface quite precise
-> something like "Those files with

[2022-08-10 14:55] goern opened #35 "demo horus and jupyter requirements extension to CNBi working group"
see https://docs.google.com/document/d/1kEP4PEuWQAP4S1uqWEGTd1GMWHEr-SwUfKmGBaioMNE/edit?disco=AAAAeH38oxw

[2022-08-10 14:58] goern opened #36 "Thoth API Endpoint to provide version of analysed Python packages and versions"
# references

* https://docs.google.com/document/d/1kEP4PEuWQAP4S1uqWEGTd1GMWHEr-SwUfKmGBaioMNE/edit?disco=AAAAc85IVjA
* https://docs.google.com/document/d/1kEP4PEuWQAP4S1uqWEGTd1GMWHEr-SwUfKmGBaioMNE/edit?disco=AAAAeH38ox4

[2022-08-15 06:11] schwesig commented on #29
date: 2022-08-14
|                  Repository Name                   |     Created Date     |      Language     | Stars | Watchers | Forks | Open Issues |
|                  ---                   |     ---     |      ---     | --- | --- | --- | --- |
|                 operate-first/apps                 | 2020-09-24T07:13:57Z |       Python      |   29  |    29    |  113  |      73     |
|

[2022-08-15 06:17] schwesig commented on #29
req: PyGithub

[code]

[2022-08-15 06:21] schwesig commented on #11
https://docs.google.com/presentation/d/1i6-UOx62ywRJHBrMH2QzUqD_etkeKUsZXQOqqxy_tTk/edit?usp=sharing

[2022-08-15 07:22] schwesig commented on #34
[code]

[2022-08-15 07:22] schwesig commented on #34
[code]

[2022-08-18 11:41] codificat opened #37 "argocd applications to deploy all the required components for BYON feature"
As a BYON/CNBi developer,
I want ArgoCD to manage all the required components in the dev environment
so that when I contribute changes they are automatically applied to the environment and become available for testing, demos, etc

## Acceptance criteria

The following components should be deployed by ArgoCD to the `odh-cl1` cluster, in the `opf-jupyterhub-stage namespace`:

- [x] the BYON developm

[2022-08-18 12:11] codificat commented on #32
Status update:

The target cluster for CNBi CD is OSC's osc-cl1 cluster.

Deployment of opendatahub is driven by the [odh-manifests](https://github.com/opendatahub-io/odh-manifests/) repo:

-   Operate First maintains a [fork](https://github.com/operate-first/odh-manifests) where manifests are customized in branches. The [osc-cl1-byon branch on that fork](https://github.com/operate-first/odh-manif

[2022-08-18 18:22] codificat opened #38 "document CNBi feature design"
As a developer of the CNBi feature for ODH
I want to have a document that describes the functionality that is being implemented and how it is designed,
so that I have an understanding of the components involved and their interactions and dependencies

## Acceptance criteria

- [x] A public document exists that explains the Custom Notebook Image (CNBi) functionality
- [ ] The documentation includes

[2022-08-18 18:24] codificat opened #39 "document what a valid image for kubeflow notebook controller looks like"

[2022-08-18 19:05] codificat commented on #37
Note that these are deployed via the ODH deployment. The BYON dev version of it includes them:
https://github.com/operate-first/odh-manifests/tree/34b43f6b2e2fe1195b37709736a89d64c3bf4411/jupyterhub/jupyterhub/overlays/byon

This might be worth a discussion: could / should we decouple these a bit more?  but that would be for a separate issue - just noting here that, right now, the deployment of th

[2022-08-19 08:56] goern commented on #38
/kind documentation
/triage needs-information
/priority important-soon

[2022-08-19 08:57] goern commented on #21
@codificat please update this issue with the latest updates from https://docs.google.com/document/d/1jz4j07Q8gkv9H-23BgOp_4qN3uI29JsuP-_kTKEj-e8/edit#heading=h.ktb4q28asi4v

[2022-08-19 08:58] goern commented on #39
/kind documentation
/priority important-soon
/triage needs-information

[2022-08-23 09:37] schwesig commented on #29
see also data in https://github.com/operate-first/operate-first.github.io/pull/180

[2022-08-23 09:38] schwesig commented on #11
done here
https://github.com/operate-first/operate-first.github.io/pull/180

[2022-08-24 13:15] codificat commented on #38
There is a new repository to host the CNBi documentation: https://github.com/thoth-station/opendatahub-cnbi

The entry point to the documentation will be the [README file](https://github.com/thoth-station/opendatahub-cnbi/blob/main/README.md) in that repository. This document is currently being actively worked on in a collaborative way at https://hackmd.io/@thoth-station/ryWW3dsRc

[2022-08-24 13:16] codificat commented on #38
/triage accepted
/assign
/lifecycle active

[2022-08-24 13:24] codificat commented on #32
It is *not* manually deployed: the pipeline manifest comes from ODH: https://github.com/operate-first/odh-manifests/tree/osc-cl1-byon/jupyterhub/jupyterhub/overlays/byon

[2022-08-24 13:26] codificat commented on #32
Answering myself: this will be documented in the new https://github.com/thoth-station/opendatahub-cnbi/ repository

[2022-08-30 15:53] codificat commented on #21
The updates from the meeting on 18/Aug around the CD env are part of https://github.com/thoth-station/opendatahub-cnbi/pull/6 (more related to #32 than to this issue though)

/assign
/triage accepted
/lifecycle active

[2022-08-30 16:00] codificat commented on #27
The approach we currently suggest for CNBi delivery is not via bots or GitHub issues, but through an operator instead (reusing the meteor operator).

See https://github.com/thoth-station/opendatahub-cnbi for more details

[2022-08-30 17:41] codificat commented on #32
/assign
/lifecycle active
/triage accepted

[2022-09-02 14:42] schwesig opened #40 "Collect github data with prometheus and show in grafana"
- [x] create a mockup: what data needs to be displayed, and how --> https://github.com/open-services-group/scrum/issues/40#issuecomment-1235596924
- [x] collect data via prometheus (prom ql) --> https://github.com/open-services-group/scrum/issues/40#issuecomment-1235602090
- [x] create a grafana dashboard, following the mockup --> https://github.com/open-services-group/scrum/issues/40#issuecomment

[2022-09-02 14:44] schwesig commented on #40
/sig community
/area contributor
/area community
/area monitoring
/kind metrics

[2022-09-02 14:44] sesheta commented on #40
@schwesig: The label(s) `sig/community, area/contributor, area/community, area/monitoring, kind/metrics` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/40#issuecomment-1235590004):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/

[2022-09-02 14:51] schwesig commented on #40
create mockup
![image](https://user-images.githubusercontent.com/89909507/188175725-f6b4889d-595d-4950-a085-5d574bdd6422.png)
![image](https://user-images.githubusercontent.com/89909507/188175954-a47f0c8b-64e0-4d85-88f7-c5230f310ee5.png)

[2022-09-02 14:56] schwesig commented on #40
## promql
- decision for last 4 days:
  - 30 days can take some time to collect
  - so far 4 days (or a week) seem to get fairly fast results
  - wasn't able to pull more data than last 2 days (tbd)

- Project Owner Groups, last 4 days, last
  - count(count by (annotation_op1st_project_owner) (k8s_resource_annotations_info{annotation_op1st_project_owner!=""}))

- Projects, last 4 days, last
  - co

[2022-09-02 14:58] schwesig commented on #40
example:
json for Project Owner Groups, last 4 days, last

[code]

[2022-09-02 14:59] schwesig commented on #40
dashboard
snapshot
https://grafana.operate-first.cloud/dashboard/snapshot/2I4k71DpSz3wvIWvvnT2eSi08XyVH71N

[2022-09-12 13:54] goern commented on #38
see https://hackmd.io/6BgU6fdSRvyMLZNPwGykfg

[2022-09-21 12:15] codificat commented on #13
That's the plan. But it's not fully ready to start with, and we have a tracker issue to work on the various missing bits and pieces: https://github.com/thoth-station/core/issues/401

For a start, we might look at a simpler option with the [data-platform-demo](https://github.com/os-climate/data-platform-demo) repository. @Shreyanand what do you think?

Besides that, an overall update: this issue ha

[2022-09-21 14:15] codificat commented on #38
Need to also document the pipelines, and add pointers to additional refs (e.g. byon, odh dashboard etc)

[2022-09-21 15:05] Shreyanand commented on #13
Sounds good to me!

[2022-09-27 09:29] codificat commented on #38
/wg cnbi

[2022-09-27 09:29] sesheta commented on #38
@codificat: The label(s) `wg/cnbi` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/38#issuecomment-1259236891):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related

[2022-10-05 19:16] codificat commented on #13
As we are handling this in the Thoth org, I created https://github.com/thoth-station/opendatahub-cnbi/issues/22 to replace this issue.
/close

[2022-10-05 19:16] sesheta commented on #13
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/13#issuecomment-1268850475):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-10-05 19:16] #13 closed

[2022-10-05 19:24] codificat commented on #37
The work related to this issue continues to be tracked in https://github.com/thoth-station/opendatahub-cnbi/issues/20 within the thoth github org.
/close

[2022-10-05 19:24] sesheta commented on #37
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/37#issuecomment-1268859385):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-10-05 19:24] #37 closed

[2022-10-05 19:31] codificat commented on #32
The initial documentation was added in https://github.com/thoth-station/opendatahub-cnbi/pull/6

Further updates should come as part of the work on https://github.com/thoth-station/opendatahub-cnbi/issues/20
/close

[2022-10-05 19:31] sesheta commented on #32
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/32#issuecomment-1268867442):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-10-05 19:31] #32 closed

[2022-10-05 19:32] codificat commented on #21
This is now superseded by https://github.com/thoth-station/opendatahub-cnbi/issues/20
/close

[2022-10-05 19:32] sesheta commented on #21
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/21#issuecomment-1268869738):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-10-05 19:32] #21 closed

[2022-10-05 19:35] codificat commented on #27
Superseded by https://github.com/thoth-station/opendatahub-cnbi/issues/22
/close

[2022-10-05 19:35] #27 closed

[2022-10-05 19:35] sesheta commented on #27
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/27#issuecomment-1268872787):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-10-05 19:37] codificat commented on #38
Superseded by https://github.com/thoth-station/opendatahub-cnbi/issues/22
/close

[2022-10-05 19:37] #38 closed

[2022-10-05 19:37] sesheta commented on #38
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/38#issuecomment-1268876022):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-10-05 19:40] codificat commented on #33
Superseded by https://github.com/thoth-station/opendatahub-cnbi/issues/15
/close

[2022-10-05 19:40] sesheta commented on #33
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/33#issuecomment-1268879913):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-10-05 19:40] #33 closed

[2022-10-05 19:42] codificat commented on #39
Superseded by https://github.com/thoth-station/helm-charts/issues/47
/close

[2022-10-05 19:42] sesheta commented on #39
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/39#issuecomment-1268882101):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-10-05 19:45] codificat commented on #15
This is outdated by now.
/close

[2022-10-05 19:45] sesheta commented on #15
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/15#issuecomment-1268886012):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-10-05 19:45] #15 closed

[2022-10-06 10:28] #3 closed

[2022-10-06 10:28] #30 closed

[2022-10-06 10:28] #11 closed

[2022-10-06 10:30] #25 closed

[2022-10-19 09:33] #34 closed

[2022-10-19 09:34] schwesig commented on #34
/close
cleanup after changing orga

[2022-10-19 09:34] schwesig commented on #14
/close
cleanup after changing orga

[2022-10-19 09:34] #14 closed

[2022-10-19 09:34] sesheta commented on #14
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/14#issuecomment-1283711278):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-10-19 09:37] schwesig commented on #23
/close
cleanup after changing orga

[2022-10-19 09:37] #23 closed

[2022-10-19 09:37] sesheta commented on #23
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/23#issuecomment-1283714432):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-10-19 09:41] schwesig commented on #8
/close
cleanup after change of organisation

[2022-10-19 09:41] #8 closed

[2022-10-19 09:41] sesheta commented on #8
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/8#issuecomment-1283719434):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-10-19 09:41] schwesig commented on #9
/close
cleanup after change of organisation

[2022-10-19 09:41] sesheta commented on #9
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/9#issuecomment-1283719667):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-10-19 09:42] schwesig commented on #22
mentioned to @codificat

[2022-10-19 09:43] schwesig commented on #18
/close
cleanup after change of organisation

[2022-10-19 09:43] #18 closed

[2022-10-19 09:43] sesheta commented on #18
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/18#issuecomment-1283722230):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-10-19 09:43] schwesig commented on #7
/close
cleanup after change of organisation

[2022-10-19 09:43] #7 closed

[2022-10-19 09:43] sesheta commented on #7
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/7#issuecomment-1283722876):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-10-19 09:46] schwesig commented on #5
/close
cleanup after change of organisation

[2022-10-19 09:46] #5 closed

[2022-10-19 09:46] sesheta commented on #5
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/5#issuecomment-1283726142):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-10-19 09:48] schwesig commented on #40
/close
cleanup after change of organisation

[2022-10-19 09:48] sesheta commented on #40
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/40#issuecomment-1283728986):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-10-19 09:48] #40 closed

[2022-10-19 09:50] schwesig commented on #35
/close
cleanup after change of organisation

[2022-10-19 09:50] sesheta commented on #35
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/35#issuecomment-1283731245):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-10-19 09:50] #35 closed

[2022-10-19 09:51] schwesig commented on #36
/close
cleanup after change of organisation

[2022-10-19 09:51] #36 closed

[2022-10-19 09:51] sesheta commented on #36
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/36#issuecomment-1283732030):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-10-19 09:54] schwesig commented on #28
/close
changes of orga

[2022-10-19 09:54] #28 closed

[2022-10-19 09:54] sesheta commented on #28
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/scrum/issues/28#issuecomment-1283735603):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-10-31 11:17] sesheta commented on #31
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-30 11:23] sesheta commented on #31
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten